<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <style>
      body { display: flex;
         flex-direction: column;
         justify-content: center;
         position: relative;
         margin: 0 auto;}
         .header {display: flex;
            align-self: center;}
         img {max-width: 500px;
            display: flex;
            align-self: center;
            }
         h4{
            background-color: white;
            padding: 10px;
         }

         h1 {text-align: center;}
         /* ul {list-style: none;} */
         .inner-links {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            background: lightgrey;
            border: 2px solid black;
            border-radius: 1em;}
         .resources {background: lightblue;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border: 2px solid red;
            border-radius: 1em}

         body {background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdjqD1bqQx7kh9GuJ5fz55L1fNaJ8e4O_Z1A&usqp=CAU');
         max-width: 500px}
      </style>
   </head>
   <body>


         <div class='header'>
            <h1>Welcome To Mom's Blog</h1>
         </div>
         <div class='image'>
            <img src="https://image.shutterstock.com/image-vector/happy-mother-day-card-continuous-600w-1356350777.jpg"/>
         </div>
         <h4>We know motherhood is hard. Between work, school, or being a stay at home mom, we have a lot to juggle. Some feel like they're about to explode, some are at the end of the rope, some just need a break, and others love all the chaos and mess.<br/>
         <br/>
         Regardles of who you are, we feel you. We know the struggle and sacrifice. Here, at Mom Blogs we want you to feel safe and comfortable to express your joy as much as your frustration.<br/>
         <br/>
         We are a judgment free site where you can simply write your joy or troubles away. Where you can vent judgment free, and have the choice to do so annonymously.<br/>
         <br/>
         Take a look at our blogs and see what other moms, just like you, are writing about. You may just need a good laugh, or to see that other moms struggle just like you. Whatever you need. This is the site for you.<br/>
         <br/>
         For additional resources or information, visit any of the links below or see our frequently asked questions page. HAPPY WRITING!</h4>

         <div class='inner-links'>
            <img src="<%=momblogs.img%>"/>
               <h3><a href ="/momblog<%=momblogs.title%>/index">See Blogs Collection</a></h3>
            <br/>

               <h3><a href="momblog/qa">Moms Questions Answered</a></h3>
            <br/>
         </div>

         <br/>

            <ul class='resources'>
            <li><h2>Resources</h2></li>
            <li><a href="https://www.workingmomsagainstguilt.com/working-mom-resources/">Working Moms Against Guilt</a></li>
            <li><a href="https://www.fabworkingmomlife.com/working-mom-life-resources/">Fabulous Working Mom Life</a></li>
            <li><a href="https://www.mother.ly/work/find-your-group-10-mom-groups-that-are-totally-amazing">Top 10 Mom Support Groups</a></li>
            <li><a href="https://mommypoppins.com/anywhere">Mom Meeting Moms - Find a Group in Your Area</a></li>
         </ul>


      <footer>Mom Blogs is a creation by Angelines Yaport.
      Improvements to follow in the next several months.</footer>
   </body>

</html>
