<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <h1>New Blogs Page</h1>
      <form action="/momblog/index" method="POST">
         <lable for="image"></lable>
            Image: <input type="text" name="img"/>
            <br/>
         <lable for="title">Title:</lable>
            <input type="text" name="title"/>
           <br/>
          <lable for="title">Author:</lable>
            <input type="text" name="author"/>
           <br/>
          <lable for="Blog">Blog Excerpt:</lable>
            <input type="text" name="Blog"/>
           <br/>

       <input type="submit" value="Create New Blog"/>
       </form>
   <a href="/momblog/index">Back to Blogs</a>
   <br/>
   <a href="/momblog">Home Page</a>
   </body>
</html>
