ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-weight: bolder;
}
li {
   max-width: 400px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   border: solid black;
   width: 35%;
   height: 55vmax;
   justify-content: center;
   align-items: center;
   background-color: teal;
   border-radius: 1em;
}
h1 {color: red;
   background: lightblue;
   border-radius: 1em;
   border: solid red;
   text-align: center;
   width: 550px;
   margin: 0 auto;
   margin-bottom: 10px;
}
.nav{
   display: flex;
   flex-grow: 3;
   justify-content: space-around;
   align-items: center;
   background: lightgrey;
   border-radius: 0.5em;
   border: solid blue;

}
.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   max-width: 200px;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 10px;
   overflow: auto;
}
li img {
   width: 100%;
}
.logins {
   style: none;
}
